.pdfholder{
    width: 400px;
    height: 300px;
    position: relative;
}

.pdfiframe{
    width: 100%;
    height: 100%;
}

.pdfbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: lightblue;
}
